apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: csv-processor
spec:
  type: NodePort  
  selector:
    app: rabbitmq
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
      nodePort: 30672  
    - name: management
      port: 15672
      targetPort: 15672
      nodePort: 31672  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  namespace: csv-processor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: guest
            - name: RABBITMQ_DEFAULT_PASS
              value: guest
          ports:
            - containerPort: 5672
            - containerPort: 15672
